{% extends "base.html" %}

{% block title %} Cambio de contraseña {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

        //--
        $("#change_form").validate({
            errorPlacement: function(error, element) {         
                error.insertBefore(element);
            },
            rules: {
                nif_login : {
                    required: true,
                    is_nif: true
                },
                old_pass_login : {
                    required: true
                },
                new_pass_login : {
                    required: true
                },
                rep_pass_login : {
                    required: true
                }
            },
            messages: {
                nif_login : {
                    required: "Indique su NIF."
                },
                old_pass_login : {
                    required: "Indique su antigüa contraseña."
                },
                new_pass_login : {
                    required: "Indique su nueva contraseña."
                },
                rep_pass_login : {
                    required: "Repita su nueva contraseña."
                }
            }
        });
    });
</script>

{% endblock %}


{% block main_container %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Cambio de contraseña</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
            <div class="form-main">
                <form id="change_form" method="post" action="change_pass.php">
                    <div class="form-group">
                        
                        <input type="text" name="nif_login" id="nif_login" class="form-control" placeholder="NIF">
                        
                        <input type="password" name="old_pass_login" id="old_pass_login" class="form-control" placeholder="Antigüa contraseña">
                        <input type="password" name="new_pass_login" id="new_pass_login" class="form-control" placeholder="Nueva contraseña">
                        <input type="password" name="rep_pass_login" id="rep_pass_login" class="form-control" placeholder="Repita contraseña">
                        
                    </div>
                    <button id="button_login" type="submit" class="btn btn-block signin">Cambiar</button>
                </form>
            </div>
            <div class="form-footer">
                <div class="row">
                    <div class="col-xs-7">
                        <a href="index.php" id="renew_form"><i class="fa fa-arrow-left circled-icon"></i> Volver</a>
                    </div>
                </div>
            </div>
            
		</div>
	</div>
{% endblock %}

