{% extends "base.html" %}

{% block title %} Candidaturas {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
        //--
        $(".vote-panel-dropdown").click(function(e){
            e.preventDefault();
            var visible = $(this).siblings(".vote-panel").is(":visible");
            if(visible)
            {
                $(this).siblings(".vote-panel").hide("slow");
            }
            else
            {
                $(".vote-panel").hide("slow");
                $(this).siblings(".vote-panel").show("slow");
            }
        });
        
        //--
        $(".vote-option").click(function(e){
            e.preventDefault();
            
            $(this).siblings(".vote_selected").each(function(n, elem){
                changeVoteSelected($(elem));
            });
            
            changeVoteSelected($(this));
            
            function changeVoteSelected(elem)
            {
                var content = elem.html();
                if(elem.hasClass("vote_selected"))
                {
                    $(".vote-option-" + content).removeClass("disabled");
                    elem.removeClass("vote_selected");
                    elem.parents(".media-body").find(".vote-asigned").html("");
                }
                else
                {
                    $(".vote-option-" + content).removeClass("vote_selected");
                    $(".vote-option-" + content).addClass("disabled");
                    elem.removeClass("disabled");
                    elem.addClass("vote_selected");
                    elem.parents(".media-body").find(".vote-asigned").html(content);
                }
            }
        });
        
        //--
        //$(".vote-panel").hide();
	});
</script>

{% endblock %}


{% block main_container %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Listado de candidaturas <a href="#" alt="Ayuda" target="_blank"><i class="fa fa-info-circle"></i></a></h1>
            
            {%if candidates %}
            <ul class="list-group candidateGroup">
                {% for candidate in candidates %}
                <li class="list-group-item candidateItem">
                    <div class="media">
                        <div class="media-left media-middle"><a href="{{candidate.url_detalle}}" alt="Abrir perfil del candidato" target="_blank"><img class="media-object" src="{{candidate.url_foto}}" /></a></div>
                        <div class="media-body">
                            <h4 class="media-heading"><span class="vote-asigned"></span> {{candidate.nombre}} <a href="{{candidate.url_detalle}}" alt="Abrir perfil del candidato" target="_blank"><i class="fa fa-arrow-right"></i></a></h4>
                            <p>{{candidate.descripcion | raw}}</p>

                            <div class="btn-toolbar" role="toolbar" aria-label="vote">
                                <button class="btn btn-default dropdown-toggle vote-panel-dropdown pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Votar
                                    <span class="caret"></span>
                                </button>
                                <div id="vote-panel-{{candidate.id}}" class="btn-group pull-right vote-panel" role="group" aria-label="votation-group">
                                    <button type="button" class="btn btn-default vote-option vote-option-1 ">1</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-2 ">2</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-3 ">3</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-4 ">4</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-5 ">5</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-6 ">6</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-7 ">7</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-8 ">8</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-9 ">9</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-10 ">10</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            
            <button id="button_login" type="submit" class="btn btn-block signin disabled">Votar</button>
            
            
            {% else %}
            <p>El proceso electoral todavía no esta en marcha. Por favor, vuelva en las fechas indicadas.</p>
            {% endif %}            
		</div>
	</div>
{% endblock %}

