{% extends "base.html" %}

{% block title %} Candidaturas {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
        //--
//        $(".vote-panel-dropdown").click(function(e){
//            e.preventDefault();
//            var visible = $(this).siblings(".vote-panel").is(":visible");
//            if(visible)
//            {
//                $(this).siblings(".vote-panel").hide("slow");
//            }
//            else
//            {
//                $(".vote-panel").hide("slow");
//                $(this).siblings(".vote-panel").show("slow");
//            }
//        });
        
        //--
        $(".vote-option").click(function(e){
            e.preventDefault();
            
            
            $(this).siblings(".vote_selected").each(function(n, elem){
                changeVoteSelected($(elem));
            });
            
            changeVoteSelected($(this));
            
            
            //--
            function changeVoteSelected(elem)
            {
                var voteId = elem.html();
                var imagSrc = "static/images/icon-user-default.png";
                if(elem.hasClass("vote_selected"))
                {
                    $(".vote-option-" + voteId).removeClass("disabled");
                    elem.removeClass("vote_selected");
                    elem.parents(".media-body").find(".vote-asigned").removeClass("remark").html("");
                }
                else
                {
                    $(".vote-option-" + voteId).removeClass("vote_selected");
                    $(".vote-option-" + voteId).addClass("disabled");
                    elem.removeClass("disabled");
                    elem.addClass("vote_selected");
                    elem.parents(".media-body").find(".vote-asigned").addClass("remark").html(voteId);
                    
                    
                    var candidateId = elem.parent().attr("id");
                    candidateId = candidateId.split('-')[2];
                    if(typeof candidateId === 'undefined' || !candidateId)
                    {
                        console.log('Se ha producido un error al votar al candidato.');
                        return;
                    }
                    imagSrc = $("img#candidate-image-"+candidateId).attr('src');
                }

                //--
                $("li#candidate-item-" + voteId + " span img.candidate_img").attr('src', imagSrc);
                
                elem.blur();
            }
        });
        
        //--
        //$(".vote-panel").hide();
        //$(".dropdown-toggle").hide();
	});
</script>
{% endblock %}


{% block candidate_list %}
{%if candidates %}
	<div class="row candidate">
		<div class="col-xs-12 hidden-sm candidate-selected-container">
            <ul class="candidate-selected-list">
                <li class="candidate-selected-placeholder" id="candidate-item-1"><span><div>1</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-2"><span><div>2</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-3"><span><div>3</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-4"><span><div>4</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-5"><span><div>5</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-6"><span><div>6</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-7"><span><div>7</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-8"><span><div>8</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
                <li class="candidate-selected-placeholder" id="candidate-item-9"><span><div>9</div><img class="candidate_img" src="static/images/icon-user-default.png" /></span></li>
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block main_container %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Listado de candidaturas <a href="#" alt="Ayuda" target="_blank"><i class="fa fa-info-circle"></i></a></h1>
            
            {%if candidates %}
            <ul class="list-group candidateGroup">
                {% for candidate in candidates %}
                <li class="list-group-item candidateItem">
                    <div class="media">
                        <div class="media-left media-middle"><a href="{{candidate.url_detalle}}" alt="Abrir perfil del candidato" target="_blank"><img id="candidate-image-{{candidate.id}}" class="media-object candidate_img" src="{{candidate.url_foto}}" /></a></div>
                        <div class="media-body">
                            <h4><span class="vote-asigned"></span> <a href="{{candidate.url_detalle}}" alt="Abrir perfil del candidato" target="_blank">{{candidate.nombre}} <i class="fa fa-arrow-right"></i></a></h4>
                            <p>{{candidate.descripcion | raw}}</p>

                            <div class="btn-toolbar pull-right" role="toolbar" aria-label="vote">
                                <div id="vote-panel-{{candidate.id}}" class="btn-group vote-panel" role="group" aria-label="votation-group">
                                    <button type="button" class="btn btn-default vote-option vote-option-1 ">1</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-2 ">2</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-3 ">3</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-4 ">4</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-5 ">5</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-6 ">6</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-7 ">7</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-8 ">8</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-9 ">9</button>
                                    <button type="button" class="btn btn-default vote-option vote-option-10 ">10</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            
            <button id="button_login" type="submit" class="btn btn-block signin disabled">Votar</button>
            
            
            {% else %}
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>El proceso electoral todavía no esta en marcha. Por favor, vuelva en las fechas indicadas.</p>
                </div>
            </div>
            {% endif %}            
		</div>
	</div>
{% endblock %}

