{% extends "base.html" %}

{% block title %} Restablecer contraseña {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
        //--
        $("#reset_form").validate({
            errorPlacement: function(error, element) {         
                error.insertBefore(element);
            },
            rules: {
                nif_login : {
                    required: true,
                    is_nif: true
                }
            },
            messages: {
                nif_login : {
                    required: "Indique su NIF."
                }
            }
        });
    });
</script>

{% endblock %}


{% block main_container %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Restablecer contraseña</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
            <div class="form-main">
                <form id="reset_form" method="post" action="reset_pass_confirm.php">
                    <div class="form-group">
                        
                        <input type="text" name="nif_login" id="nif_login" class="form-control" placeholder="NIF">
                        
                    </div>
                    <button id="button_login" type="submit" class="btn btn-block signin">Restablecer</button>
                </form>
            </div>
            <div class="form-footer">
                <div class="row">
                    <div class="col-xs-7">
                        <a href="index.php"><i class="fa fa-arrow-left circled-icon"></i> Volver</a>
                    </div>
                </div>
            </div>
            
		</div>
	</div>
{% endblock %}

