<div>
    <h3>Instrucciones</h3>
    <p>Debe escoger uno/a o ningún/a cabeza de lista.</p>
    <p>Debe ordenar un máximo de ocho candidatos/as según su orden de preferencia. Los candidatos y candidatas que aparecen en la cabeza de lista también aparecen en la lista de candidaturas y optan a ser ordenados de la misma manera que el resto de candidatos y candidatas.</p>
    <p>El orden de los candidatos y candidatas se modificará aleatoriamente cada vez que recargue la página.</p>
    <p>La votación no se hará efectiva hasta que envíe el formulario, por lo que podrá modificar su selección tanto como desee. Una vez que realice el envío de su voto, este se contabilizará y usted no podrá volver a votar.</p>
    <p>La sesión tienen un tiempo de validez de 10 minutos, si transcurrido ese tiempo trata de enviar el formulario, el sistema de indicará el error y su votación <strong>no</strong> habrá sido contabilizada. En este caso deberá volver a iniciar sesión y repetir el proceso.</p>
    
    <p>En la siguiente tabla puede ver cuántos puntos se asignarán según el orden asignado:</p>
    <table class="table table-condensed">
        <tr><td>1º</td><td> 1 punto</td></tr>
        <tr><td>2º</td><td> 1/2 puntos</td></tr>
        <tr><td>3º</td><td> 1/3 puntos</td></tr>
        <tr><td>4º</td><td> 1/4 puntos</td></tr>
        <tr><td>5º</td><td> 1/5 puntos</td></tr>
        <tr><td>6º</td><td> 1/6 puntos</td></tr>
        <tr><td>7º</td><td> 1/7 puntos</td></tr>
        <tr><td>8º</td><td> 1/8 puntos</td></tr>
    </table>

    <h3>Ayuda</h3>
    <p>La página de votaciones se divide en cuatro secciones:</p>
    <ul>
        <li>Cabecera</li>
        <li>Votación de cabeza de lista</li>
        <li>Votación de candidatos y candidatas</li>
        <li>Pie de página</li>
    </ul>
    <img src="static/images/help/help_00.png"/>
    
    <h3>Cabecera</h3>
    <p>En la cabecera puede encontrar el mismo menú de navegación que en otras páginar y el logo de {% include 'texto_ganemos.html' %}.</p>
    <p>Pero además podrá encontrar un <em>resumen de votos</em> actual. Tenga en cuenta que este resumen sólo es visible si su pantalla es lo suficientemente grande como para verlo en bloque. En pantallas demasiado pequeñas no es útil.</p>
    <p>Si tiene a alguna persona asignada en el resumen de votos, podrá pinchar en la miniatura para que la pantalla se desplace hasta dicho candidato o candidata, para agilizar el movimiento por la página.</p>

    <h3>Votación de cabeza de lista</h3>
    <p>En esta sección podrá escoger al candidato o candidata a la encabezar la lista. Una única opción es posible. Al seleccionar una opción se resaltará y se mostrará su imagen en el primer elemento del resumen de votos.</p>
    <p>Podrá variar su selección tantas veces como quiera antes de confirmar su voto.</p>
    
    <h3>Votación de candidatos y candidatas</h3>
    <p>En esta sección podrá escoger los y las candidatas a los que quiera votar, además deberá indicar el orden de preferencia para cada uno de ellos y ellas. Una vez que seleccione un orden de lista, éste desaparecerá como opción para el resto de candidatos y candidatas.</p>
    <p>Cuando asigne un orden de lisa para algún candidato o candidata, podrá ver que su orden de lista aparecerá junto a su nombre y que la foto del elemento seleccionado aparecerá en su orden correspondiente del resumen de votos.</p>
    <p>Podrá variar su selección tantas veces como quiera antes de confirmar su voto.</p>

    <h3>Pie de página</h3>
    <p>Al final de la página se encuentra el botón de votación. Pulsando este botón aparecerá una ventana de confirmación desde la que podremos confirmar la votación.</p>
    <p>Esta acción es irreversible, por lo que solamente deberemos confirmar la votación en caso de tenerla configurada tal y como deseamos.</p>
    
</div>
